/* Regular */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    src: url("NotoSans-Regular.ttf") format("ttf");
}
/* Bold */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    src: url("NotoSans-Bold.ttf") format("ttf");
}
/* Italic */
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 500;
    src: url("NotoSans-Italic.ttf") format("ttf");
}
/* Bold Italic */
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 600;
    src: url("NotoSans-BoldItalic.ttf") format("ttf");
}
